* {
    margin: 0;
    padding: 0;  
    box-sizing: border-box;  
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: #1c1c1c;
    font-family: 'Montserrat', sans-serif;
    text-align: center;

    height: 100vh;
    background: rgb(34,173,195);
    background: linear-gradient(311deg, rgba(34,173,195,1) 0%, rgba(253,212,45,1) 100%);
}

input {
    opacity: 0;
}

button {
    background-color: transparent;
    border: 2px #1c1c1c solid;
    border-radius: 2rem;
    padding: .6rem 1rem;
    margin-top: 2rem;
    cursor: pointer;
    font-weight: 400;
    font-size: 1.1rem;
    transition: transform 300ms ease-in-out;
}
button:hover {
    transform: scale(1.1);
}

h1{
    font-size: 2.5rem;
    margin-top: 1rem;
}
h2 {
    font-size: 2rem;
    text-transform: capitalize;
}